*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/src/main/java/
app/src/test/
bindlibrary/src/androidTest/
bindlibrary/src/test/
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
